<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/global.css" rel="stylesheet">
</head>
<body>
	
	<header class ="header">
	{{>layouts/header}}
	</header>
	
	<section class ="wrapper">
		<aside class ="wrapper_aside">
			<nav>
				<div><a href ="/show/board">Show Board</a></div>
				<div><a href ="/show/map">Show Map</a></div>
				<img src="/img/folder2.png" onerror="this.src='/img/gg.jpg'" alt = "대체">
			</nav>
			
		</aside>
		<main class ="wrapper_main">
			<div class ="wrapper_content">
				{{content}}
			</div>
			<div>
				<form action="/test"  method="post" enctype="multipart/form-data">
					<input type ="file" name="file">
					<input type ="submit" value="submit">
				</form>
			</div>
		</main>
	</section>
	
	
	<footer class ="footer">
	{{>layouts/footer}}
	</footer>
	
</body>
</html>