<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 링크: https://fonts.google.com/specimen/Leckerli+One -->
<link href="https://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet">
</head>
<body>
    <svg height="60" width="200">
        <text x="0" y="15" fill="red">공개</text>
      </svg>

      <svg width="620" height="140" viewBox="0 0 620 140">
        <text 
          x="30" y="90" 
          fill="#ED6E46" font-size="100" font-family="'Leckerli One', cursive">
          공개
        </text>
      </svg>
</body>
</html>